html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #e2e0e0;
}

.container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 1000px;
    margin-top: 50px;
}

@media (max-width: 912px) {
    .container {
        margin: 20px;
        max-width: 100%;
    }
}

.form__fieldset {
    background-color: white;
    border: none;
    margin: 2px;
    padding: 20px;
    font-weight: bold;
}

.form__label {
    font-size: 20px;
}

.form__input {
    width: 85%;
    padding: 10px;
    border: 2px solid #e2e0e0;
}

.form__input::placeholder {
    color: #969696;
}

@media (max-width: 912px) {

    .form__input {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .form__input {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .form__input {
        width: 100%;
    }
}

.form__button {
    background-color: rgb(39, 124, 124);
    color: white;
    padding: 12px;
    border: none;
    width: 110px;
    margin-left: 20px;
    transition: 0.5s;
    font-size: 15px;
}

.form__button:hover {
    transform: scale(1.15);
    background-color: rgb(49, 153, 153);
}

.form__button:active {
    background-color: rgb(58, 182, 182);
}

@media (max-width: 767px) {
    .form__button {
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
    }
}

@media (max-width: 992px) {
    .form__button {
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
    }
}

@media (max-width: 1200px) {
    .form__button {
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
    }
}

.section__beforeList {
    background-color: white;
    border: none;
    padding: 20px;
    font-weight: bold;
}

.section__beforeList--margin {
    margin: 10px 2px 0px 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 550px) {
    .section__beforeList--margin {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 767px) {
    .section__beforeList--margin {
        flex-direction: column;
        align-items: flex-start;
    }
}

.section__label  {
    font-size: 20px;
}

.js-toggleButtonEvents {
    border: none;
    background-color: white;
    color: teal;
    font-size: 15px;
}

.js-toggleButtonEvents:hover {
    color: rgb(7, 162, 162);
}

.js-toggleButtonEvents:active {
    color: rgb(15, 205, 205);
}

@media (max-width: 550px) {
    .js-toggleButtonEvents {
        padding: 8px;
        margin: 0 auto; 
        display: block;
    }
}

@media (max-width: 767px) {
    .js-toggleButtonEvents {
        padding: 8px;
        margin: 0 auto;
        display: block;
    }
}

.js-markAllTasksAsDone:disabled {
    color: #ccc;
}

.flex__list {
    background-color: white;
    margin: 1.5px 2px 2px 2px;
    padding: 30px;
    list-style-type: none;
}

.flex__listItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-bottom: 1.5px solid #e2e0e0;
}

.js-done {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    height: 30px;
    width: 30px;
    border: none;
}

.js-done:hover {
    background-color: rgb(8, 160, 8);
}

.js-done:active {
    background-color: rgb(13, 186, 13);
}

.js-checkmarkIcon {
    height: 30px;
    width: 30px;
}

.js-content {
    flex-grow: 1;
    padding-left: 10px;
    font-size: 15px;
}

@media (max-width: 550px) {
    .js-content {
        word-wrap: break-word;
        overflow: hidden;
        width: 195px;
    }
}

@media (max-width: 767px) {
    .js-content {
        word-wrap: break-word;
        overflow: hidden;
        width: 195px;
    }
}

@media (max-width: 992px) {
    .js-content {
        word-wrap: break-word;
        overflow: hidden;
        width: 195px;
    }
}

@media (max-width: 1280px) {
    .js-content {
        word-wrap: break-word;
        overflow: hidden;
        width: 195px;
    }
}

.js-contentLineThrough {
    text-decoration: line-through;
}

.js-remove {
    height: 30px;
    width: 30px;
}